<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if page.title %}
        {{page.title}}
        {% else %}
        {{site.title}}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{site.baseurl}}/scripts/calendar.js"></script>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/favicon.png">
</head>
<body>
    <div class="site">
        <header class="site-header">
            <a href="{{site.baseurl}}/">
                <h1>{{site.title}}</h1>
            </a>
        </header>
        {{ content }}
        <footer class="site-footer">
            {% include footer.html %}        
        </footer>
    </div>
</body>
</html>