*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit 
}

html {
    box-sizing: border-box;
    font: 16px/1.5 var(--font-family-content);
}

body {
    height: 100%;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
    color: #6441A4;
}

a:hover {
    color: #00A4EF;
}