<div class="jumbotron">
    <div class="container">

            <h1>Hello <strong>{{fullName}}</strong>!</h1>
            <h2>
                You are registered with email: <strong>{{email}}</strong>
            </h2>

    </div>
</div>