.site-footer {
    padding-top: 2em;
}

.site-footer ul {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.site-footer:before {
    display: block;
    content: '';
    border: 1px solid #272822
}