html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

*, *:after, *:before{
    font-family: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
}

h1{
    font-size: 2em;
}

p{
    margin-bottom: 1em;
}