@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

form{
    width: 20%;
    margin: 4rem auto;
}

fieldset{
    padding: 1rem;
}

fieldset legend{
    padding: 0.5rem 1rem;
    padding-right: 30%;
    border-radius: 5px;
    border: 1px solid grey;
}

form section {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

form section input{
    border: none;
    outline: none;
    padding: 0.5rem;
}

form p {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

form p:hover,
form p:focus{
    border-color: green;
}

form p:hover i,
form p:focus i{
    color: green;
}

form section label{
    flex: 1 1 100%;
    font-style: bold;
}

form p i{
    font-size: 16px;
    border: none;
    padding-left: 0.3rem;
}

form input[type='submit']{
    padding: 0.5rem;
}
