*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    padding: 2rem 4rem;
}

header{
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

header h1{
    text-transform: uppercase;
    flex: 1 1 80%;
}

header nav{
    flex: 1 1 20%;
    display: flex;
}

header nav ul{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-evenly;
}

header nav ul li{
    list-style: none;
    text-align: center;
    flex: 1 1 20%;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}

main h1{
    margin-bottom: 1rem;
    font-weight: 300;
}

main p:not(:last-child){
    margin-bottom: 1rem;
}

