body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: auto;
}

article {
    display: inline-block;
}

article {
    display: inline-block;
}

img {
    width: 60%;
}