*, *:before, *:after {
      box-sizing: inherit;
}

html {
    font: 16px/1.5 'Verdana', serif; 
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    width: 100%;
    margin: 2em;
}

article {
    display: inline-block;
    width: 68%
}

aside {
    display: inline-block;
    width: 28%;
    vertical-align: top
}

img {
    width: 75%;
}