*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit
} 

html {
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 90vh;
    margin: 2em auto;
    position: relative;
}

.container:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(to bottom, #bc8849, #cb995d, #d9aa71, #e8bc85, #f7ce9a);
}

.container:after {
    display: block;
    content: '';
    opacity: 1;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(to bottom, #81929e, #99a8b1, #b2bec4, #ccd5d8, #e7eced);
    transition: opacity 0.5s ease-in-out;
}

.container:hover:after {
    opacity: 0;
}
